body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section.Container {
    margin-bottom: 50px;
}

.world-cup {
    display: flex;
    background-image: linear-gradient(337deg, #000000, #a60313);
    margin: 0px 157px;
    border-radius: 41px;
}

.world-cup-title {
    width: 472px;
    padding-left: 31px;
}

.world-cuppicture img {
    width: 415px;
    padding-top: 23px;
    margin-left: 48px;
}

.world-cup-title h1 {
    font-size: 61px;
    color: white;
}

.world-cup-title p {
    color: white;
}

button {
    color: black;
    background: yellow;
    padding: 10px 20px;
    font-weight: 800;
    border-radius: 13px;
}

.match-information-part {
    display: flex;
    padding: 0px 150px 0px 157px;
}

.match-information {
    display: grid;
    background-color: black;
    width: 283px;
    height: 312px;
    border-radius: 10px;
}

.match-information a {
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 17px 37px 40px 40px;
    background: white;
    padding: 17px 0px;
    border-radius: 16px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.blog {
    width: 240px;
    border: 1px solid #3333335e;
    border-radius: 11px;
    margin: 0px 0px 10px 15px;
}

.blog>img {
    width: 240px;
}

a#blog {
    background: red;
}

.blogs-icon {
    display: flex;
    margin-left: 15px;
    padding-bottom: 16px;
}

.blog-icon {
    display: flex;
    padding-right: 12px;
}

.blogs-icon img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.blogs-icon p {
    margin: 0px;
}

.blog h1 {
    margin-left: 15px;
}

.blog>p {
    margin-left: 15px;
}

footer {
    text-align: center;
    background: #161616;
    color: white;
    padding: 35px 0px 85px 0px;
}

hr {
    margin-bottom: 30px;
    width: 80%;
}

span {
    padding: 0px 15px 0px 15px;
}

.footerIcon {
    padding-top: 30px;
}

.footerIcon i {
    padding: 24px;
    font-size: 32px;
}

.footerIcon a {
    color: white;
}

/* UpLoad Match Style */
.country-flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.flag {
    display: flex;
}

.flag img {
    border-radius: 11px;
}

.country-flag {
    height: 203px;
    border: 1px solid #333;
    border-radius: 12px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.country-flags h4 {
    padding-left: 24px;
    font-weight: 900;
}

.country-flags p {
    padding-left: 25px;
}

/* ------------------
Mobile Responsive
--------------------- */
@media only screen and (max-width: 688px) {
    .world-cup {
        flex-direction: column;
        margin: 0;
        width: auto;
    }

    .world-cup-title {
        width: 253px;
        text-align: center;
    }

    .world-cup-title h1 {
        font-size: 31px;
    }

    .world-cuppicture img {
        width: 100%;
        margin: 0px;
    }

    .match-information-part {
        flex-direction: column;
        padding: 24px;
    }

    .blogs {
        display: block;
        padding-top: 24px;
    }

    .blog>img {
        width: 282px;
    }

    .blog {
        width: 282px;
        margin: 0px 0px 15px 0px;
    }

    span {
        display: block;
        padding: 14px;
    }

}

/* responsive tav */
@media only screen and (min-width: 688px) and (max-width:990px) {
    .world-cup {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }

    .world-cuppicture img {
        padding-top: 129px;
    }

    .match-information {
        background: none;
        display: flex;
        width: auto;
        height: auto;
        font-weight: 900;
        margin-left: 20px;
    }

    .match-information a {
        border: 1px solid black;
        width: 218px;
        margin: 0px 10px 0px 10px;
    }

    .match-information-part {
        padding: 0px 0px 0px 0px;
        display: block;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        padding: 39px 15px 0px 64px;
    }

    footer {}
}